<style>
	.input-none{
		border: none;
		outline: none;

		background-color: transparent;
		width: 60%;
		display: inline-block;
	}
</style>

<div class="">
	<div class="input-lg form-control" style="padding: 6px 12px;">
	
		<div class="btn btn-primary" type="button" ng-hide="showSeleccion">
			{{seleccionado.nombre}} 
			<div class="badge" ng-click="desSeleccionar()" ng-hide="showSeleccion">
				<i class="fa fa-times"></i>
			</div>
		</div>		
		
		<input type="text" class="input-none" name="" id="" ng-model="busqueda" placeholder="{{placeholder}}" ng-focus="focus=true">
	</div>
</div>

<div class="row" ng-show="focus">
	<div class="list-group" style="z-index:100; position: absolute; width: 100%; padding-right: 15px;padding-left: 15px;">
		<a href="" ng-click="seleccionar(asesor)" class="list-group-item" ng-repeat="asesor in datas | filter: busqueda | limitTo: 10">{{asesor.nombre}}</a>		
	</div>
</div>